<ol class="breadcrumb">
    {% if step >= 1 %}<li class="breadcrumb-item"><a href="{{ path('stepOne') }}">{{ '1 - order'|trans }}</a></li>{% endif %}
    {% if step >= 2 %}<li><a href="{{ path('stepTwo') }}">{{ '2 - informations'|trans }}</a></li>{% endif %}
    {% if step >= 3 %}<li><a href="{{ path('stepThree') }}">{{ '3 - summary / payment'|trans }}</a></li>{% endif %}
    {% if step >= 4 %}<li><a href="{{ path('stepFour') }}">{{ '4 - confirmation'|trans }}</a></li>{% endif %}
</ol>





