{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ticket'|trans }} {% endblock %}

{% block body %}
    <div class="container">
        {% include 'Louvre/breadcrumb.html.twig' with{'step': 2} only %}
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3 col-md-offset-3">  <img src="{{ asset('../web/img/icon.png') }}"></div>
            </div>
            <div class="col-md-6">
                <h1>{{ 'your reservation'|trans|upper }}</h1>
                <hr class="my-4">
                <ul>
                    <li><span>{{ 'date of your reservation'|trans }} :</span> {{ booking.purchaseDate|date('d/m/Y') }}</li>
                    <li><span>{{ 'date of your visit'|trans }} : </span>{{ booking.visitDate|date('d/m/Y') }}</li>
                    <li><span>{{ 'ticket type'|trans|capitalize }} : </span>{{ booking.ticketTypeLabel |trans }}</li>
                    <li><span>{{ 'number of reserved tickets'|trans }} :</span> {{ booking.nbTickets }}</li>
                    <li><span>{{ 'your ticket(s) will be sent to the email address'|trans }} :</span> {{ booking.email }}</li>
                </ul>
            </div>
        </div>

        <p class="bg-primary"><i class="fa fa-warning"> {{ 'please fill in the information of each visitor below'|trans|capitalize }}</i></p>

        <div class="row">
            <div class="col-md-12">
            <div class="well">
                {{form_start(form)}}
                {% for ticket in form.tickets %}
                        <div class="col-md-6 col-md-6">

                            <h3>{{ 'ticket'|trans|capitalize }} N°{{ loop.index }}</h3>
                            <hr class="my-4">
                            <div class="col-md-10">
                                {{ form_row(ticket.lastName)}}
                            </div>
                            <div class="col-md-10">
                                {{ form_row(ticket.firstName)}}
                            </div>
                            <div class="col-md-10">
                                {{ form_row(ticket.country) }}
                            </div>
                            <div class="col-md-10">
                                {{ form_row(ticket.birthDate) }}
                                {{ form_widget(ticket.birthDate) }}
                            </div>
                            <div class="col-md-10">
                                {{ form_row(ticket.reducedPrice) }}
                                <p class="bg-danger"><i class="fa fa-warning"> {{ 'if you choose a reduced rate, a proof will be requested at the entrance of the museum'|trans|capitalize }}</i></p>
                            </div>
                        </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-md-6 col-md-6">
                        <hr class="my-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="submit">{{ 'next'|trans|upper }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
