{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'welcome'|trans }} {% endblock %}

{% block body %}
    <div id="homepage">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-3">{{ 'louvre museum'|trans|upper }}</h1>
                <hr class="my-4">
                <h2>{{ 'ticketing'|trans|upper }}</h2>
            </div>
        </div>
    </div>
    <div class="contentpage">
        <div class="container">
            <div class="row">
                <div class="infos">
                    <div class="col-md-6">
                        <div class="horaires">
                            <div class="well">
                                <div class="card-header">{{ 'schedules'|trans|upper }}</div>
                                <hr class="my-4">
                                    <div class="card-body text-secondary">
                                        <ul>
                                            <li>{{ 'monday'|trans|capitalize }} : 9 h - 18 h</li>
                                            <li>{{ 'tuesday'|trans|capitalize }} : {{ 'closed'|trans }}</li>
                                            <li>{{ 'wenesday'|trans|capitalize }} : 9 h - 21h45</li>
                                            <li>{{ 'thursday'|trans|capitalize }} : 9 h - 18 h</li>
                                            <li>{{ 'friday'|trans|capitalize }} : 9 h - 21h45</li>
                                            <li>{{ 'saturday'|trans|capitalize }} : 9 h - 18 h</li>
                                            <li>{{ 'sunday'|trans|capitalize }} : 9 h - 18 h</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="tarifs">
                            <div class="well">
                                <div class="card-header">{{ 'prices'|trans|upper }}</div>
                                <hr class="my-4">
                                    <div class="table">
                                        <ul>
                                                <li>{{ 'normal'|trans|capitalize }} : 16 euros </li>
                                                <li>{{ 'children'|trans|capitalize }} : 8 euros (1)</li>
                                                <li>{{ 'senior'|trans|capitalize }} : 12 euros (2)</li>
                                                <li>{{ 'reduced'|trans|capitalize }} : 10 euros (3)</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form">
                    <div class="col-md-6">
                        <div class="text">
                            <div class="well">
                                <div class="card-header">{{ 'order your tickets online'|trans|upper }}</div>
                            </div>
                        </div>
                        <div class="formulaire">
                            <div class="well">
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                {{ form_row(form.visitDate) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                {{ form_row(form.nbTickets)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                                {{ form_row(form.ticketType)}}
                                                <i class="fa fa-exclamation-triangle"></i> {{ 'half-day ticket : entry from 14 hours'|trans }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="form-group">
                                              {{ form_row(form.email)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="submit" value="{{ 'submit'|trans }}"  href="{{ path('stepTwo') }}"/>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                                {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <ul>
                                <li>(1) {{ 'up to 12 years old .free for children under 4 years old'|trans }}</li>
                                <li>(2) {{ 'from 60 years old'|trans }}</li>
                                <li>(3) {{ 'under conditions . a proof will be requested at the entrance (students, military, museum staff etc)'|trans }}</li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}

