{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'order summary'|trans|capitalize }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('stepOne') }}">{{ '1 - order'|trans }}</a></li>
                    <li><a href="{{ path('stepTwo') }}">{{ '2 - informations'|trans }}</a></li>
                    <li><a href="{{ path('stepThree') }} ">{{ '3 - summary / payment'|trans }}</a></li>
                    <li><a href="{{ path('stepFour', {'id': booking.id}) }} ">{{ '4 - confirmation'|trans }}</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p class="bg-success">{{ 'your payment has been accepted ! your order is validated !'|trans|capitalize }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>{{ 'louvre museum thanks you for your booking' |trans|upper }}</h1>
                <hr class="my-4">
                <h3>{{ 'date of your reservation'|trans|upper }} : {{ booking.purchaseDate|date('d/m/Y') }}</h3>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="logo">
                <img src="{{ asset('img/icon.png') }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <hr class="my-4">
                <ul>
                    <li>{{ 'booking'|trans|upper }} n° : {{ booking.id }}</li>
                    <li>{{ 'booking code'|trans|upper }} : {{ booking.bookingCode }}</li>
                    <li>{{ 'tickets(s) quantity'|trans|upper }} : {{ booking.nbTickets }}</li>
                    <li>{{ 'total amount'|trans|upper }} : {{ booking.totalPrice }} euros</li>
                    <li>{{ 'order paid by credit card on'|trans|upper }} {{ booking.purchaseDate|date('d/m/Y') }}</li>
                </ul>
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-6">
                    <p>{{ 'an email has just been sent to the following address'|trans|capitalize }} :</p>
                    <hr class="my-4">
                    <p>{{ 'in this email you will find'|trans|capitalize }} :</p>
                </div>
                <div class="col-md-6">
                    <p><i class="fa fa-envelope"> {{ booking.email }} </i></p>
                    <hr class="my-4">
                    <p><i class="fa fa-th-list"> {{ 'the summary of your order'|trans|capitalize }} </i></p>
                    <p><i class="fa fa-ticket"> {{ 'your ticket(s)'|trans|capitalize }} </i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <hr class="my-4">
                <p class="bg-danger"><i class="fa fa-warning"> {{ 'this email takes the place of a ticket, thank you to keep it because it will be asked at the entrance of the museum'|trans|capitalize }}</i></p>
                <p class="bg-danger"><i class="fa fa-warning"> {{ 'do not forget your proof if you chose a reduced rate, you will be asked at the entrance of the museum'|trans|capitalize }}</i></p>
                <hr class="my-4">
                <a class="button-back" href="{{ path('stepOne') }}"> <button class="btn btn-light" name="return" type="button"> {{ 'to leave'|trans|capitalize }}</button></a>
            </div>
        </div>
    </div>

{% endblock %}
