{% extends "P4LouvreBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Récapitulatif de votre commande {% endblock %}

{% block body %}

    <div class="container">
        <h2>RECAPITULATIF DE VOTRE COMMANDE</h2>
            <div class="row col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        Date de votre commande : {{ booking.purchaseDate|date('d/m/Y') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Vous avez réservez : {{ booking.nbTickets }} billet(s)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Date de votre visite : {{ booking.visitDate|date('d/m/Y') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Type de billet : {{ booking.ticketType }}
                    </div>
                </div>
            </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead class="">
                <tr>
                    <th>#</th>
                    <th>lastName</th>
                    <th>firstName</th>
                    <th>Country</th>
                    <th>reducedPrice</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in booking.tickets %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ticket.lastName }}</td>
                        <td>{{ ticket.firstName }}</td>
                        <td>{{ ticket.country }}</td>
                        <td>{{ ticket.reducedPrice }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
