{% extends "P4LouvreBundle::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Ticketing'|trans }} {% endblock %}

{% block body %}

    <div id="homepageStepTwo">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h2 class="display-3">{{ 'YOUR RESERVATION'|trans }}</h2>
                <hr class="my-4">
                <ul>
                    <li><span>{{ 'Date of your Reservation'|trans }} :</span> {{ app.session.get('booking').purchaseDate|date('d/m/Y') }}</li>
                    <li><span>{{ 'Date of your visit'|trans }} : </span>{{ app.session.get('booking').visitDate|date('d/m/Y') }}</li>
                    <li><span>{{ 'Ticket Type'|trans }} :</span> {{ app.session.get('booking').ticketType }}</li>
                    <li><span>{{ 'Number of reserved tickets'|trans }} :</span> {{ app.session.get('booking').nbTickets }}</li>
                    <li><span>{{ 'Your ticket(s) will be sent to the email address'|trans }} :</span> {{ app.session.get('booking').email }}</li>
                    <li>{{ 'Please fill in the information of each visitor below'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="well">

            {{form_start(form)}}
            {% for ticket in form.tickets %}
                <div class="row">
                    <div class="col-md-6 col-md-6">
                        <h3>{{ 'Ticket'|trans }} N°{{ loop.index }}</h3>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.lastName)}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.firstName)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.country) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.birthDate) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.reducedPrice) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="{{ 'SUBMIT'|trans }}"  href="{{ path('p4_louvre_stepThree') }}"/>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
