{% extends "P4LouvreBundle::base.html.twig" %}

{% block title %}{{ parent() }} - Billetterie {% endblock %}

{% block body %}

    <div id="homepageStepTwo">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h2 class="display-3">VOTRE RESERVATION</h2>
                <hr class="my-4">
                <ul>
                    <li><span>Date de votre réservation :</span> {{ app.session.get('booking').purchaseDate|date('d/m/Y') }}</li>
                    <li><span>Date de votre visite : </span>{{ app.session.get('booking').visitDate|date('d/m/Y') }}</li>
                    <li><span>Type de billet :</span> {{ app.session.get('booking').ticketType }}</li>
                    <li><span>Nombres de billets reservé(s) :</span> {{ app.session.get('booking').nbTickets }}</li>
                    <li><span>Vos billets vont être envoyés sur l'adresse email :</span> {{ app.session.get('booking').email }}</li>
                    <li>Merci de bien vouloir renseigner les informations de chaques visiteurs ci-dessous</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="well">

            {{form_start(form)}}
            {% for ticket in form.tickets %}
                <div class="row">
                    <div class="col-md-6 col-md-6">
                        <h3>Billet N°{{ loop.index }}</h3>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.lastName)}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.firstName)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.country) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.birthDate) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    {{ form_row(ticket.reducedPrice) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="VALIDER"  href="{{ path('p4_louvre_stepThree') }}"/>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
