{% extends "P4LouvreBundle::base.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Visitor information'|trans }} {% endblock %}

{% block body %}

        <div id="homepageStepTwo">
                <div class="container">
                        <div class="jumbotron jumbotron-fluid">
                                <h2 class="display-3">{{ 'ORDER SUMMARY'|trans }}</h2>
                                <hr class="my-4">
                                <ul>
                                        <li><span>{{ 'PurchaseDate'|trans }} : </span>{{ booking.purchaseDate|date('d/m/Y') }}</li>
                                        <li><span>{{ 'BookingCode'|trans }} : </span>{{ booking.bookingCode }}</li>
                                        <li><span>{{ 'Visitdate'|trans }} : </span>{{ booking.visitDate|date('d/m/Y') }}</li>
                                        <li><span>{{ 'You have booked'|trans }} : </span>{{ booking.nbTickets }} {{ 'Ticket(s)'|trans }}</li>
                                        <li><span>{{ 'TicketType'|trans }} : </span>{{ booking.ticketType }}</li>
                                </ul>
                        </div>
                </div>
        </div>
        <div id="homepage">
                <div class="container">
                                <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-condensed">
                                                <thead class="">
                                                        <tr>
                                                        <th>{{ 'Visitor'|trans }}</th>
                                                        <th>{{ 'Price'|trans }}</th>
                                                        <th>{{ 'Quantity'|trans }}</th>
                                                        <th>{{ 'TotalAmount'|trans }}</th>
                                                        </tr>
                                                </thead>

                                                <tbody>
                                                {% for ticket in booking.tickets %}
                                                        <tr>
                                                                <td>
                                                                    <ul>
                                                                            <li><span>{{ 'Visitor'|trans }} {{ loop.index }} : </span>{{ ticket.lastName }} {{ ticket.firstName }}</li>
                                                                            <li><span>{{ 'Price'|trans }} {{ ticket.price }} </span></li>

                                                                    </ul>
                                                                </td>
                                                                <td>{{ ticket.price }}</td>
                                                                <td></td>
                                                                <td></td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                        <td></td>
                                                        <td>{{ 'TotalAmount'|trans }} :</td>
                                                        <td>{{ booking.nbTickets }} {{ 'Ticket(s)'|trans }})</td>
                                                        <td>{{ booking.totalPrice }}</td>
                                                </tr>
                                                </tfoot>
                                        </table>
                                </div>
                        </div>
                        </div>
{% endblock %}
