<p><img style="width: 300px" src= "{{ logo }}" alt = "Logo Louvre"></p>
<h2>{{ 'the louvre museum thanks you for your order placed on the'|trans|upper }} {{ booking.purchaseDate|date('d/m/Y') }}</h2>
<hr class="my-4">

        <ul>
            <li><span>{{ 'booking code'|trans|capitalize }} : </span>{{ booking.bookingCode }}</li>
            <li><span>{{ 'visit date'|trans|capitalize }} :  </span>{{ booking.visitDate|date('d/m/Y') }}</li>
            <li><span>{{ 'ticket(s)'|trans|capitalize }} : </span>{{ booking.ticketType }}</li>
        </ul>

            <hr class="my-4">
                    {% for ticket in app.session.get('booking').tickets %}
                        <hr class="my-4">
                        <p>{{ 'last name'|trans|capitalize }} : {{ ticket.lastName|upper }}</p>
                        <p>{{ 'first name'|trans|capitalize }} : {{ ticket.firstName|upper }}</p>
                        <p>{{ 'birth date'|trans|capitalize }} : {{ ticket.birthDate|date('d/m/Y') }}</p>
                        <p>{{ 'country'|trans|capitalize }} : {{ ticket.country|upper }}</p>
                        <p>{{ 'reduced price'|trans|capitalize }} : {% if ticket.reducedPrice %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</p>
                        <p>{{ 'price ticket(s)'|trans|capitalize }} :  {{ ticket.price|upper }}</p>

                    {% endfor %}


            <hr class="my-4">
                <p><span>{{ 'total amount'|trans }} : </span> {{ booking.totalPrice|number_format(2,',',' ') }} euros</p>


